.dashboard {
	> h2 {
		font-size: $font-size-lg;
		margin: 3rem 0 2rem;
		&::first-letter {
			text-transform: uppercase;
		}
		span {
			color: $accent-color;
			text-transform: capitalize;
		}
	}
}
