#expenses-section {
	margin: 2rem 0;
	h2 {
		margin-bottom: 1rem;
	}

	a[href="/expenses"] {
		@extend %btn-dark;
		display: inline-block;
		margin-top: 1rem;
	}
}

.expenses-table {
	border-collapse: collapse;
	font-size: $font-size-sm;
	width: 100%;

	thead {
		font-size: 1.2rem;
		font-weight: bold;
	}

	tr {
		display: flex;
		justify-content: space-around;
		align-items: center;
		border-radius: $border-radius-sm;
	}

	td {
		padding: 0.5rem 0.7rem;
		flex-basis: 20%;
		display: grid;
		place-items: center;
	}

	.expense-delete {
		color: #000;

		button {
			background: none;
			display: grid;
			place-items: center;
		}
	}

	tbody {
		tr:nth-of-type(odd) {
			background-color: $accent-color;
			color: #fff;

			.expense-delete {
				color: #fff;
			}
		}
	}
}
